<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPCkSBbGf4Wpjg1hn35ET4TKZz3N6pQ8s</string>
	<key>GCM_SENDER_ID</key>
	<string>227185220724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xvow</string>
	<key>PROJECT_ID</key>
	<string>xvow-91f1c</string>
	<key>STORAGE_BUCKET</key>
	<string>xvow-91f1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227185220724:ios:d033ecf43d66a75595c521</string>
</dict>
</plist>